@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

header{
    background-color: #FFF5D8;
}

#logo{
    width: 100px;
    padding-top: 8px;
    float: left;
}

#logo-divider{
    border: none;
    height: 1px;
    background-color: #456946;
    margin: 0%;
}

#site-title{
    font-family: "Italiana", sans-serif;
    color: #456946;
    margin-left: 10px;
}

body{
    background-color: #FFF5D8;
}



