@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Italiana&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

header{
    background-color: #FFF5D8;
}

#logo{
    width: 100px;
    padding-top: 8px;
    float: left;
}

#logo-divider{
    border: none;
    height: 1.5px;
    background-color: #456946;
    margin-top: -1%;
}

#site-title{
    font-family: "Great Vibes", cursive;
    color: #456946;
    margin-left: 20px;
}

.header-hyperlinks{
    font-family: "Josefin Sans", sans-serif;
    font-size: larger;
    display: flex;
    margin-left: 20%;
    margin-top: 1.6%;
    gap: 80px;
}

.header-elements{
  display:flex;
}

.menu{
  height: 10px;
}

#menu-icon{
  height: 25px;
  margin-left: 450%;
  margin-top: 100%;
}

#close-icon{
  font-size: 24px;
  width: 30px;
  height: 30px;
  margin: 5%;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9998;
}

#sidebar{
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background: #CDD8B0;
  color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
  z-index: 9999;
}

#sidebar ul {
  list-style: none;
  padding: 20px;
}

#sidebar ul li {
  margin: 20px 0;
}

#sidebar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

#sidebar.open {
  right: 0;
}

#overlay.visible{
  display: block;
}

a{
  text-decoration: none;
  color: #456946;
}

a:hover{
  color: #B297C9;
}

body{
  background-color: #FFF5D8;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

body.loaded{
  opacity: 1;
}

.socials-container{
  position: fixed;
  text-align: right;
  display: flex;
  flex-direction: column;
  margin-left: 1%;
}

#whatsapp-button, #instagram-button{
  width: 75px;
  margin-bottom: 2%;
}

footer{
  box-shadow: inset 0px 5px 5px 0px #74437D;
  background-color: #B297C9;
  color: white;
  text-align: right;
  margin-top: 40%;
  width: 100%;
  padding: 20px;
  display: flex;
}

#p-contact{
  font-family: "Josefin Sans", sans-serif;
  font-size: 100%;
}

#p-name{
  font-family: "Great Vibes", cursive;
  font-size: 200%;
}

#footer-logo{
  width: 7%;
  height: 7%;
  margin-right: 80%;
}

/* SlideShow */

* {box-sizing:border-box}

.content-container {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 3% auto;
  width: 90%;
  max-width: 1500px;
}

.slideshow-container {
  flex: 2;
  max-width: 60%;
  position: relative;
  overflow: hidden;
}

.text-container {
  flex: 1;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  color: #333;
  text-align: justify;
  margin-left: -10%;
}


.mySlides {
  display: none;
  position: relative;
}

.mySlides img {
  width: 75%;
  height: auto;
  border-radius: 5%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.5);

  user-select: none;
}

.prev {
  left: 0;
  margin-left: 8px;
}

.next {
  right: 25%;
  margin-right: 8px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot-container {
  position: absolute;
  bottom: 0px;
  left: 35%;
  transform: translateX(-15%);
  display: flex;
  gap: 10px;
  justify-content: center;
  z-index: 10;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
