h1, h2{
    font-family: "Josefin Sans", sans-serif;
    color: #456946;
}

p{
    font-family: "Josefin Sans", sans-serif;
}

.post{
    /* text-align: right; */
    margin: 5vmin;
    font-family: "Josefin Sans", sans-serif;
}

.post img{
    width: 400px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid #456946;
}

.post p, h2{
    margin-right: 30%;
}

#post-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
