h1, h2{
    font-family: "Josefin Sans", sans-serif;
    color: #456946;
}

p{
    font-family: "Josefin Sans", sans-serif;
}

.post{
    /* text-align: right; */
    margin: 5vmin;
    font-family: "Josefin Sans", sans-serif;
}

.thumbnail{
    width: 800px;
    height: 400px;
    border-radius: 10px;
    border: 2px solid #456946;
}

.post img{
    width: 400px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid #456946;
}

.post p, h2{
    margin-right: 10%;
}

#post-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.post-text{
    font-size: 2vmin;
}

/* Zoom */

.img-zoom {
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .img-zoom:hover {
    transform: scale(1.2);
  }
  
/* recent posts */

#grid-container{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "Post Post Side"
        "Post Post Side"
        "Post Post Side";
}

.grid-post{
    grid-area: Post;
}

.grid-side1{
    grid-area: Side;
}

.grid-side2{
    grid-area: Side;
}

.grid-side3{
    grid-area: Side;
}